<!doctype html>

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/stylesheets/app.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Cardo|Playfair+Display:700,900"
    />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap" rel="stylesheet">

    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <div class="container">{{ content }}</div>
  </body>
</html>
