:root {
  /* Colours */
  --bg: #fafafa;

  /* Breakpoints */
  --xs: 480px;
  --sm: 768px;
  --md: 992px;
  --lg: 1200px;
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  font-size: 8px;
}

body {
  background-color: #fafafa;
  color: hsl(0, 0%, 20%);
  display: flex;
  font-family: "Cardo", serif;
  font-size: 2.5rem;
  font-weight: 400;
  justify-content: center;
  margin: 0 16px;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  line-height: 1.25;
  margin: 0;
}

h1 {
  color: hsl(0, 0%, 14%);
  font-size: 4rem;
  margin: 40px 0 80px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 16px;
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
}

p {
  margin: 0;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  margin: 16px 0 80px;
  padding-left: 0;
}

li {
  line-height: 1.5;
  padding-left: 24px;
  position: relative;
}

li:before {
  background-color: #e5e5e5;
  border-radius: 50%;
  content: "";
  height: 8px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 8px;
}

li + li {
  margin-top: 16px;
}

.container {
  max-width: 600px;
  width: 100%;
}

em {
  color: hsl(0, 0%, 40%);
  font-size: 2rem;
}

@media only print {
  html {
    font-size: 6px;
  }

  h1 {
    margin: 20px 0;
  }

  h3 {
    display: inline;
  }

  h3 + p  {
    display: inline;
    margin-left: 8px;
  }

  ul {
    list-style-type: disc;
    margin-bottom: 20px;
    padding-left: 40px;
  }

  .container {
    max-width: 90%;
  }
}
