:root {
  /* Colours */
  --bg: #fafafa;

  /* Breakpoints */
  --xs: 480px;
  --sm: 768px;
  --md: 992px;
  --lg: 1200px;
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  display: flex;
  font-family: "Cardo", serif;
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
  margin: 40px 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  line-height: 1.25;
  margin: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
  }
}

p {
  margin: 0;
}

hr {
  background-color: #e5e5e5;
  border: 0;
  height: 1px;
  margin: 40px 0;
}

ul {
  list-style-type: none;
  margin: 16px 0;
  padding-left: 0;
}

li {
  line-height: 1.5;
  padding-left: 24px;
  position: relative;
}

li:before {
  background-color: #e5e5e5;
  border-radius: 50%;
  content: "";
  height: 8px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 8px;
}

li + li {
  margin-top: 16px;
}

.container {
  max-width: 600px;
  width: 100%;
}

strong {
  color: #333;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 700;
}

em {
  color: #666;
}
